.whyChoose-header
{
    display: flex;
    align-items: center;
    gap:20px;
    margin-left:140px;
    margin-bottom: 40px;
}
.chooseUs-border
{
    width:8%;
    height:14px;
    background-color: #000;
  
}


.card-box {
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between; /* Distribute space between the cards */
    align-items: center; /* Vertically center the cards */
    background-color: #7FA3DC;
    padding: 40px 0;
    position: relative;
}

.card-left {
    width: 480px;
    height: 180px;
    padding:40px 20px;
    background-color: #fff;
    border-radius: 8px;
    margin: 10px; /* Adds space around the card */
    position: absolute;
    top:30px;
    right: 140px;
}

.card-right {
    width: 480px;
    height: 180px;
    background-color: #fff;
    padding:40px 20px;
    border-radius: 8px;
    margin: 10px; /* Adds space around the card */
    position: absolute;
    bottom:30px;
    left: 140px;
    filter:blur("10px")
}

.md-circleLeft {
    height: 140px;
    width: 80px;
    background: linear-gradient(to right, #FEF9FF, #AAC2E8);
    border-radius: 120px 0 0 120px;
    position: absolute;
    top: 30px;
    left: 0;
    transform: rotate(180deg);
}

.md-circleRight {
    height: 140px;
    width: 80px;
    background: linear-gradient(to right, #FEF9FF, #AAC2E8);
    border-radius: 120px 0 0 120px;
    position: absolute;
    bottom: 20px;
    right: 0;
}

.card-left h2 ,.card-right h2
{
    font-size: 24px;
    margin-bottom: 12px;
}
@media (min-width:600px) and (max-width:768px)
{
    .whyChoose-header
    {
        margin-left: 82px;
    }
    .card-left
    {
        width:410px;
        height:154px;
        padding: 24px;
        right:20px;
    }
    .card-right
    {
        width: 410px;
        bottom: 44px;
        height:154px;
        padding: 24px;
        left: 20px;
    }

    .card-left .card-right h2
    {
        font-size: 22px;
    }
    .card-left .card-right p
    {
        font-size: 16px;
    }
}