:root {
    --background-color: #7FA3DC;
    --text-color: white;
    --menu-bg-color: black;
    --hover-color: #4e73b6;
}
 
/* Navbar Styling */
.navbar {
    background-color: var(--background-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px 48px;
    color: var(--text-color);
    position: relative;
    z-index: 1000;
}
 
/* Logo Styling */
.logo {
    width: 160px;
    height: auto;
    transition: transform 0.3s 0.4s ease-in-out;
}
.logo:hover {
    transform: scale(1.05);
}
 
/* Right Section */
.nav-right {
    display: flex;
    align-items: center;
    gap: 20px;
}
 
/* Hide Nav Links Initially */
.nav-links {
    display: none;    /* Initially hidden */
    list-style: none;
    padding: 0;
    margin: 0;
}
 
/* Show Menu When Toggled */
.nav-links.show {
    display: flex;
    padding: 15px 20px;
    border-radius: 8px;
    z-index: 10;
    animation: slideIn 0.5s 0.1s forwards ease-in-out;
}
 
/* List Items */
.nav-links li {
    font-size: 18px;
    padding: 10px 15px;
    cursor: pointer;
    transition: color 0.3s;
}
 
.nav-links li:hover {
    color: var(--hover-color);
}
 
/* Menu Icon */
.icon {
    font-size: 32px;
    color: var(--text-color);
    cursor: pointer;
    transition: transform 0.3s;
}
 
/* Hover Effect for Icon */
.icon:hover {
    transform: scale(1.1);
}
 
/* Animation for Smooth Menu Appearance */
@keyframes slideIn {
    from {
        transform: translateX(100%);  /* Start from right */
    }
    to {
        transform: translateX(0);      /* Slide to its normal position */
    }
}

@media (min-width:481px) and (max-width:768px)
{
    .navbar
    {
        width:100%;
    }
    .logo
    {
        width: 130px;
    }
    .icon
    {
        font-size: 42px;
    }
    .hero-heading
    {
        font-size: 44px;
    }
    .big-circle
    {
        width:420px;
        height:385px;
        bottom:54px;
    }
    .md-cicle
    {
        bottom: 79px;
        right: 135px;
    }
}